QLabel[objectName^="lbInd"] {
border-color: rgb(102, 102, 102);
border-width:1px;
border-style:solid;
}

QLabel[state = "off"]{
	background-color: rgb(170, 0, 0);
}

QLabel[state = "on"]{
	background-color: rgb(0, 107, 0);
}

